{%extends 'shop/base.html'%}
{% load crispy_forms_tags %}
{%block content%}
   <div id="register_form">
       <form method="POST">
           {% csrf_token %}
           <fieldset>
               <legend class="leg">Change Password</legend>
               <div class="forms">
                   {{form|crispy}}
               </div>
           </fieldset>
           <div>
               <button class="btn btn-info" type="submit">Change</button>
           </div>
       </form>
   </div>
{%endblock content%}