body {
	min-height: 100%;
	position: relative;
	padding-bottom: 200px;
	font-family: 'Oswald', sans-serif;
	background: rgb(241, 241, 241);
}


body p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.box-element {
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #212529;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: #DC3545;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
	padding: 1px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}



.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
    text-align: center;


}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;


}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    text-align: center;
    height: 100px;
}


/* MY CSS */
/* Register */
        #register_form {
            width: 60%;
            margin: 50px auto;
            border: 1px solid #1d2124;
            padding: 20px;
            font-size: 14px;
        }

        #register_form input {
            width: 100%;
        }

        #register_form label {
            font-size: 18px;
        }

        .leg {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 30px;
            text-align: center;
        }

        #register_form p {
            font-size: 12px;
        }

        .sign {
            color: #000;
            font-size: 14px;
        }

        .sign:hover {
            color: #DC3545;
        }

        #logout_form {
            width: 50%;
            margin: 100px auto;
            border: 1px solid #1d2124;
            padding: 20px;
        }

        #login {
            width: 50%;
            margin: 50px auto;
            border: 1px solid #1d2124;
            padding: 20px;
        }

        #login p {
            font-size: 12px;
        }

        #login input {
            width: 100%;
            margin-bottom: 20px;
        }

        #login label {
            font-size: 18px;

        }

        .reg-footer {
            font-size: 16px;
        }

/* Product Card */
        .product-card {
            max-width: 60rem;
            background-color: #fff;
            display: flex;
            margin: auto;
            margin-top: 10%;
            position: relative;
            overflow: hidden;
            box-shadow: 0 0.2rem 1rem -0.4rem rgba(0,0,0,0.5);
        }

        .product-card-img {
            width: 40%;
            margin: 0% 0;
            margin-right: 10%;
            position: relative;
            bottom: 30px;
            left: 0px;
            z-index: 2;
            align-self: center;
            transform: rotate(-30deg);
        }

        .product-card-content {
            width: 55%;
            padding: 1rem 2rem 1rem 1rem;

        }

        .product-card-title {
            font-weight: 300;
            font-size: 3rem;
            color: #1f1f1f;
            margin: 1.5rem 0;

        }

        .product-card-text {
            color: #444;
            line-height: 1.4;
            text-align: justify;
        }

        .product-card-price {
            font-size: 20px;
            font-weight: 600;
            color: #545b62;
        }

        .product-card-button {
            margin: 1.5rem 0 0;
            border: none;
            padding: 1rem 2rem;
            width: 100%;
            border-radius: 0.4rem;
            background-color: #e2004b;
            color: #fff;
            font-size: 1rem;
            font-weight: 500;
        }

        .product-card-button:hover {
            background-color: #ce0045;
        }

        /* Cards */
        .content {
            font-family: 'Oswald', sans-serif;
            width: 100%;
            margin: 50px auto;
        }

        .con-cards {
            /* display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
            padding: 50px 0px 0px 0px; */

            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        }

        .con-cards a {
            text-decoration: none;
            color: black;
        }

        .card {
            width: 100%;
            max-width: 300px;
            min-height: 450px;
            position: relative;
            z-index: 10;
            border: none;
            border-radius: 8px;
            background: #ffffff;
            box-shadow:  5px 5px 10px #e0e0e0,
                         -5px -5px 10px #ffffff;
            box-shadow: 0 0.2rem 1rem -1.4rem rgba(0,0,0,0.5);
            overflow: hidden;

        }

        .card h2 {
            font-size: 22px;
            font-weight: 700;
        }

        .card .con-discount {
            position: absolute;
            left: -15px;
            top: 20px;
            padding: 10px;
            background-color: rgba(220, 53, 69, .9);
            border-radius: 15px;
            width: 60px;
            text-align: right;
            box-shadow: #e2004b 0px 7px 30px -10px;
        }

        .card h3 {
            color: white;
            font-size: 14px;
            opacity: 1;
        }

        .card .con-img {
            display: flex;
            justify-content: center;

        }

        .card img {
            max-width: 300px;
            width: 100%;
            height: auto;

        }

        .card .con-text {
            padding: 20px;
            height: 50px;
            position: relative;
            top: -25px;
        }

        .card .con-price {
            font-size: 16px;
        }