{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Items: <strong>{{order.cart_items}}</strong></h5></th>
						<th><h5>Total: <strong>Gh<span>&#8373</span>{{order.cart_total|floatformat:2}}</strong></h5></th>
						<th>
							<a style="float:right; margin:5px;" class="btn btn-danger" href="{% url 'checkout' %}">
								Checkout
							</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"><strong>Product</strong></div>
					<div class="item-name" style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
					<div style="flex:1"></div>
				</div>
			{% for item in object_list %}
				<div class="cart-row d-flex justify-content-center">
					<div style="flex:2"><img class="row-image" src="{{item.product.image.url}}"></div>
					<div class="item-name" style="flex:2"><p>{{item.product.name}}</p></div>
					{% if item.product.discount_price %}
						<div style="flex:1"><p>GH<span>&#8373</span>{{item.product.discount_price|floatformat:2}}</p></div>
					{% else %}
						<div style="flex:1"><p>GH<span>&#8373</span>{{item.product.price|floatformat:2}}</p></div>
					{% endif %}
					<div style="flex:1">

						<div class="quantity">
							<img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'shop/images/arrow-up.png' %}">
							<p class="quantity mt-1 mb-1">{{item.quantity}}</p>
							<img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'shop/images/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>GH<span>&#8373</span>{{item.total|floatformat:2}}</p></div>
					<div style="flex:1">
					<i data-product="{{item.product.id}}" data-action="clear" class="chg-quantity update-cart fas fa-trash-alt mb-4" style="height: 20px; width:20px; color: #DC3545"></i>
					</div>
<!--					<img data-product="{{item.product.id}}" data-action="clear" class="chg-quantity update-cart fas fa-trash-alt" style="height: 20px; width:20px; color: #DC3545">-->
<!--					<i data-product="{{item.product.id}}" data-action="clear" class="chg-quantity update-cart fas fa-trash-alt" style="height: 20px; width:20px; color: #DC3545"></i>-->
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}