{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

     <div class="row">
		<div class="col-lg-6">
			<form id="form" class="card-body" method="POST" enctype="multipart/form-data">
			{%csrf_token%}
				<div class="box-element" id="form-wrapper">

<!--				Shipping Form-->
					<div class="hide_shipping_form">
						<h3>Shipping Address</h3>
						<br>
						<div class="form-group">
							<label for="shipping_address1">Street Address</label>
							<input type="text" class="form-control" id="shipping_address1" placeholder="6 Neem Ln (required)" name="shipping_address1">
						</div>
						<div class="form-group">
							<label for="shipping_address2">Apartment Address</label>
							<input type="text" class="form-control" id="shipping_address2" placeholder="Apartment or Suite" name="shipping_address2">
						</div>
						<div class="form-row">
							<div class="form-group col-md-5">
							  <label for="shipping_city">City</label>
								<input type="text" class="form-control" id="shipping_city" placeholder="Accra (required)" name="shipping_city">
							</div>
							<div class="form-group col-md-5">
							  <label for="shipping_zip">Zip Code</label>
<!--								{{form.zip_code}}-->
								<input type="text" class="form-control" id="shipping_zip" placeholder="Zip Code" name="shipping_zip">

							</div>
							<div class="form-group row">
								<div class="col-lg-6 mb-2 ml-1">
									<label for="shipping_country">Country</label>
									{{form.shipping_country}}
								</div>
							</div>
						</div>
						<div>
							<div class="custom-control custom-checkbox mb-2">
								<input type="checkbox" class="custom-control-input" name="set_default_shipping" id="set_default_shipping">
								<label class="custom-control-label" for="set_default_shipping">Save as default shipping address</label>
							</div>
							<div class="custom-control custom-checkbox mb-2">
								<input type="checkbox" class="custom-control-input" name="same_billing_address" id="same_billing_address">
								<label class="custom-control-label" for="same_billing_address">Shipping Address is the same as my Billing Address</label>
							</div>
							{% if default_shipping_address%}
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" name="use_default_shipping" id="use_default_shipping">
									<label class="custom-control-label" for="use_default_shipping">Use default shipping address: {{default_shipping_address.street_address|truncatechars:10}}</label>
								</div>
							{% endif %}
						</div>
					</div>

					<hr>

<!--				Billing Form-->
					<div class="hide_shipping_form">
						<h3>Billing Address</h3>
						<br>
						<div class="form-group">
							<label for="billing_address1">Street Address</label>
							<input type="text" class="form-control" id="billing_address1" placeholder="6 Neem Ln" name="billing_address1">
						</div>
						<div class="form-group">
							<label for="billing_address2">Apartment Address</label>
							<input type="text" class="form-control" id="billing_address2" placeholder="Apartment or Suite" name="billing_address2">
						</div>
						<div class="form-row">
							<div class="form-group col-md-5">
							  <label for="billing_city">City</label>
								<input type="text" class="form-control" id="billing_city" placeholder="Accra" name="billing_city">
							</div>
							<div class="form-group col-md-5">
							  <label for="billing_zip">Zip Code</label>
<!--								{{form.zip_code}}-->
								<input type="text" class="form-control" id="billing_zip" placeholder="Zip Code" name="billing_zip">

							</div>
							<div class="form-group row">
								<div class="col-lg-6 mb-2 ml-1">
									<label for="billing_country">Country</label>
									{{form.billing_country}}
								</div>
							</div>
						</div>

						<div>
							<div class="custom-control custom-checkbox mb-2">
								<input type="checkbox" class="custom-control-input" name="set_default_billing" id="set_default_billing">
								<label class="custom-control-label" for="set_default_billing">Save as default billing address</label>
							</div>
							{% if default_billing_address%}
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" name="use_default_billing" id="use_default_billing">
									<label class="custom-control-label" for="use_default_billing">Use default billing address: {{default_billing_address.street_address|truncatechars:10}}</label>
								</div>
							{% endif %}
						</div>
					</div>

					<hr>

<!--				Payment Option-->
					<h3>Payment Option</h3>
					<div class="d-block my-3">
					  {% for value, name in form.fields.payment_option.choices %}
						<div class="custom-control custom-radio form-group">
							<input type="radio" class="custom-control-input" id="{{name}}" name="payment_option" value="{{value}}">
							<label class="custom-control-label" for={{name}}>{{name|title}}</label>
						</div>
					  {% endfor %}
					</div>
				  <button type="submit" class="btn btn-primary mt-3">Make Payment</button>

				</div>
			</form>
<!--					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">-->


			<br>
		</div>
		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
					<div class="cart-row">
						<div style="flex:2"><img class="row-image" src="{{item.product.image.url}}"></div>
						<div style="flex:2"><p>{{item.product.name}}</p></div>
						{% if item.product.discount_price %}
							<div style="flex:2"><p>GH<span>&#8373</span>{{item.product.discount_price|floatformat:2}}</p></div>
						{% else %}
							<div style="flex:2"><p>GH<span>&#8373</span>{{item.product.price|floatformat:2}}</p></div>
						{% endif %}
						<div style="flex:1"><p>{{item.quantity}}</p></div>
					</div>
				{% endfor %}
				<div class="d-flex justify-content-between">
					<div>
						<h5>Items: {{order.cart_items}}</h5>
						<h5>Total: Gh<span>&#8373</span>{{order.cart_total|floatformat:2}}</h5>
					</div>
					{% if order.coupon %}
						<div class="mr-4" style="color: green;">
							<h6 style="color: green;">Promo Code: {{order.coupon.code}}</h6>
							<h6 style="color: green;">Promo Amount: -Gh<span>&#8373</span>{{order.coupon.amount|floatformat:2}}</h6>
						</div>
					{% endif %}

				</div>

				<hr>
				<div>
					<h3>Coupon</h3>
					<form class="form-group row" method="POST" action="{% url 'add_coupon' %}">
						{% csrf_token %}
						<div class="col-lg-4 col-md-12 mb-4 ml-1 d-flex">
							{{c_form.code}}
							<br>
							<div>
								<button type="submit" class="btn btn-primary">Redeem</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

<!--	<script type="text/javascript">-->

<!--		if(user != 'AnonymousUser'){-->
<!--			//Hide user info when user is logged in-->
<!--			document.getElementById('user-info').innerHTML = ''-->
<!--		}-->

<!--		var shipping = '{{order.shipping}}'-->

<!--		if(user != 'AnonymousUser' && shipping == 'False'){-->
<!--			//Hide continue button and show payment button-->
<!--			document.getElementById('form-wrapper').classList.add('hidden')-->
<!--			document.getElementById('payment-info').classList.remove('hidden')-->
<!--		}-->



<!--		var form = document.getElementById('form')-->

<!--		form.addEventListener("submit", function(e){-->
<!--			e.preventDefault()-->
<!--			console.log("Form submitted..")-->

<!--			document.getElementById('form-button').classList.add('hidden')-->
<!--			document.getElementById('payment-info').classList.remove('hidden')-->
<!--		})-->


<!--		function submitFormData(){-->
<!--			console.log('Payment button clicked')-->
<!--		}-->

<!--		document.getElementById("make-payment").addEventListener("click", function(e){-->
<!--			submitFormData()-->
<!--		})-->

<!--	</script>-->

{% endblock content %}