{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form" class="card-body" method="POST" enctype="multipart/form-data">
					{%csrf_token%}
					  <div class="form-group">
						<label for="address">Street Address</label>
						  {{form.street_address}}
	<!--					<input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">-->
					  </div>
					  <div class="form-group">
						<label for="address2">Apartment Address</label>
	<!--					<input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">-->
						  {{form.apartment_address}}
					  </div>
					  <div class="form-row">
						<div class="form-group col-md-6">
						  <label for="city">City</label>
							{{form.city}}
	<!--					  <input type="text" class="form-control" id="inputCity">-->
						</div>
						<div class="form-group row">
							<div class="col-lg-4 col-md-12 mb-4 ml-1">
								<label for="country">Country</label>
								{{form.country}}
							</div>
						</div>
						<div>
							<input type="checkbox" class="custom-control-input" name="same_billing_address" id="same-address">
							{{form.same_billing_address}}
							<label for="same-address">Shipping Address is same as my billing Address</label>
						</div>
						<div>
							<input type="checkbox" class="custom-control-input" name="save_info" id="save-info">
							{{form.save_info}}
							<label for="save-info">Save this information</label>
						</div>
					  </div>
					  <div class="d-block my-3">
						  {% for value, name in form.fields.payment_option.choices %}
							<div class="custom-control custom-radio form-group">
								<input type="radio" class="custom-control-input" id="{{name}}" name="payment_option" value="{{value}}">
								<label class="custom-control-label" for={{name}}>{{name|title}}</label>
							</div>
						  {% endfor %}
					  </div>

					  <button type="submit" class="btn btn-primary">Make Payment</button>
				</form>

					<hr>
<!--					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">-->

			</div>

			<br>
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
					<div class="cart-row">
						<div style="flex:2"><img class="row-image" src="{{item.product.image.url}}"></div>
						<div style="flex:2"><p>{{item.product.name}}</p></div>
						{% if item.product.discount_price %}
							<div style="flex:2"><p>GH<span>&#8373</span>{{item.product.discount_price|floatformat}}</p></div>
						{% else %}
							<div style="flex:2"><p>GH<span>&#8373</span>{{item.product.price|floatformat:2}}</p></div>
						{% endif %}
						<div style="flex:1"><p>{{item.quantity}}</p></div>
					</div>
				{% endfor %}
				<h5>Items: {{order.cart_items}}</h5>
				<h5>Total: Gh<span>&#8373</span>{{order.cart_total}}</h5>
			</div>
		</div>
	</div>

<!--	<script type="text/javascript">-->

<!--		if(user != 'AnonymousUser'){-->
<!--			//Hide user info when user is logged in-->
<!--			document.getElementById('user-info').innerHTML = ''-->
<!--		}-->

<!--		var shipping = '{{order.shipping}}'-->

<!--		if(user != 'AnonymousUser' && shipping == 'False'){-->
<!--			//Hide continue button and show payment button-->
<!--			document.getElementById('form-wrapper').classList.add('hidden')-->
<!--			document.getElementById('payment-info').classList.remove('hidden')-->
<!--		}-->



<!--		var form = document.getElementById('form')-->

<!--		form.addEventListener("submit", function(e){-->
<!--			e.preventDefault()-->
<!--			console.log("Form submitted..")-->

<!--			document.getElementById('form-button').classList.add('hidden')-->
<!--			document.getElementById('payment-info').classList.remove('hidden')-->
<!--		})-->


<!--		function submitFormData(){-->
<!--			console.log('Payment button clicked')-->
<!--		}-->

<!--		document.getElementById("make-payment").addEventListener("click", function(e){-->
<!--			submitFormData()-->
<!--		})-->

<!--	</script>-->

{% endblock content %}