{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="row">
		<div class="col-lg-12">
			<div class="box-element" id="form-wrapper">

				<form id="form" method="POST" enctype="multipart/form-data">
                    <div class="form-field">
                        {% csrf_token %}
                        {{form|crispy}}
                    </div>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Make Payment">
				</form>

<!--		<div class="col-lg-6">-->
<!--			<div class="box-element">-->
<!--				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>-->
<!--				<hr>-->
<!--				<h3>Order Summary</h3>-->
<!--				<hr>-->
<!--				{% for item in items %}-->
<!--					<div class="cart-row">-->
<!--						<div style="flex:2"><img class="row-image" src="{{item.product.image.url}}"></div>-->
<!--						<div style="flex:2"><p>{{item.product.name}}</p></div>-->
<!--						{% if item.product.discount_price %}-->
<!--							<div style="flex:2"><p>GH<span>&#8373</span>{{item.product.discount_price|floatformat}}</p></div>-->
<!--						{% else %}-->
<!--							<div style="flex:2"><p>GH<span>&#8373</span>{{item.product.price|floatformat:2}}</p></div>-->
<!--						{% endif %}-->
<!--						<div style="flex:1"><p>{{item.quantity}}</p></div>-->
<!--					</div>-->
<!--				{% endfor %}-->
<!--				<h5>Items: {{order.cart_items}}</h5>-->
<!--				<h5>Total: Gh<span>&#8373</span>{{order.cart_total}}</h5>-->
<!--			</div>-->
<!--		</div>-->
	</div>

{% endblock content %}