{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
	 <article class="product-card">
			<img src="{{object.image.url}}" alt="" class="product-card-img">
			<div class="product-card-content">
				<h2 class="project-card-title mb-4">
					{{object.name}}
				</h2>
				<hr>
				<p class="product-card-text">
					{{object.description}}
				</p>
				<hr>
				<p class="product-card-price mt-4">GH<span>&#8373</span>{{object.price|floatformat:2}}</p>
				<button data-product="{{object.id}}" data-action="add" class="product-card-button add-btn update-cart mb-2">
					Add to Cart
				</button>
			</div>
		</article>
{% endblock content %}