{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
	<article class="content">
        <div class="con-cards">
			{% for product in object_list %}

				<div class="card">
					<a href="{{product.get_absolute_url}}">
						{%if product.discount_price%}
							<div class="con-discount">
								<h3> -{{product.discount}}% </h3>
							</div>
						{%endif%}
						<div class="con-img">
							<img src="{{product.image.url}}" alt="" loading="lazy">
						</div>
						<div class="con-text">
							<h2>{{product.name}}</h2>
							<hr>
<!--							<p>{{product.description}}</p>-->
							<div class="con-price mb-3">
								{% if product.discount_price %}
									<del class="mr-2" style="color: #dc3545;"><strong>GH<span>&#8373</span>{{product.price|floatformat:2}}</strong></del>
									<strong style="color: #4D4D4D">GH<span>&#8373</span>{{product.discount_price|floatformat:2}}</strong>
								{% else %}
									<strong style="color: #4D4D4D">GH<span>&#8373</span>{{product.price|floatformat:2}}</strong>
								{% endif %}
							</div>
							<a data-product="{{product.id}}" data-action="add" class="add-btn update-cart mb-2" href=""><i class="fas fa-cart-plus" style="height: 25px; width: 25px;"></i></a>
						</div>
					</a>
				</div>
<!--			</a>-->
			{% endfor %}
        </div>
    </article>
{% endblock content %}